.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Questionbtn{
    font-size: 20px;
    padding:10px;
    border-color: black;
    background-color: blue;
    color:white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.Questionbtn:hover {
  background-color: rgb(61, 131, 243);
}
.title{
    font-size: 70px;
}
.questioncard{
    background-color:#FBFFB1;
}
.tagsInfo{
    background-color: blueviolet;

    
}
.tagBatch{
    margin-left: 2px;
}

.qustnInfo{
    display: flex;
    align-items: center;
}

.view-question-btn{
    margin-right: 5px;
}

.author{
    margin-left: auto;
}
.bodyCard{
    min-width: 50%;
}


.badgeInfio{
  background-color: #fff !important;
  color: #0d0c0c !important;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}
